.slide-grid {
    user-select: none;
    touch-action: none;
}

.slide-grid>* {
    position: relative;
}

.slide-grid .dragging {
    transform-origin: 50% 50%;
    position: relative;
    z-index: 1;
}
